<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Code Editor</title>
</head>
<body onload="LoadPage()">
    <%- include('code-editor.ejs')%>
    
</body>

<script>
const mediaQuery = window.matchMedia('(min-width: 870px)');

// Function to handle the media query change
function handleScreenChange(event) {
  if (event.matches) {
    
    document.querySelectorAll(".html_box")[0].style.display="flex";
    document.querySelectorAll(".js_box")[0].style.display="flex";
    document.querySelectorAll(".css_box")[0].style.display="flex";
    
   
  } else {
    document.querySelectorAll(".js_box")[0].style.display="none";
    document.querySelectorAll(".css_box")[0].style.display="none";
  }
}

// Attach an event listener to the media query
mediaQuery.addListener(handleScreenChange);

// Call the function initially to handle the current screen size
handleScreenChange(mediaQuery);

    document.getElementById("html").addEventListener("click",()=>{
        document.querySelectorAll(".html_box")[0].style.display="flex";
        document.querySelectorAll(".js_box")[0].style.display="none";
        document.querySelectorAll(".css_box")[0].style.display="none";
    })
    document.getElementById("css").addEventListener("click",()=>{
        document.querySelectorAll(".html_box")[0].style.display="none";
        document.querySelectorAll(".js_box")[0].style.display="none";
        document.querySelectorAll(".css_box")[0].style.display="flex";
    })
    document.getElementById("js").addEventListener("click",()=>{
        document.querySelectorAll(".html_box")[0].style.display="none";
        document.querySelectorAll(".js_box")[0].style.display="flex";
        document.querySelectorAll(".css_box")[0].style.display="none";
    })


    var encodedHtmlData = '<%- JSON.stringify(htmlContent) %>';
    encodedHtmlData = encodedHtmlData.substring(1,encodedHtmlData.length-1)
    encodedHtmlData = encodedHtmlData.replace(/^\s+/, '')
    var encodedcssData = '<%- JSON.stringify(cssContent) %>';
    encodedcssData = encodedcssData.substring(1,encodedcssData.length-1)
    encodedcssData = encodedcssData.replace(/^\s+/, '')
    var encodedjsData = '<%- JSON.stringify(jsContent) %>';
    encodedjsData = encodedjsData.substring(1,encodedjsData.length-1)
    encodedjsData = encodedjsData.replace(/^\s+/, '')

    console.log(encodedHtmlData)
    console.log(encodedcssData)
    console.log(encodedjsData)
    var project={
        id : '<%= project.id %>',
        project_name : '<%= project.project_name %>',
        html : encodedHtmlData,
        css :encodedcssData,
        js : encodedjsData
        
    }
   
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="scripts/jquery-resizable.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- <link rel=”stylesheet” href=”//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css”>
<script src=”//code.jquery.com/jquery-1.12.4.js”></script>
<script src=”//code.jquery.com/ui/1.12.1/jquery-ui.js”></script>
<script src="../jquery-resizable.js"></script>
<script src="../jquery-resizableTableColumns.js"></script> -->
<script src="/script.js"></script>
</html>